/*Fuentes que se pueden usar
font-family: 'DM Sans', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Rubik', sans-serif;

Colores
#FFC93C - Amarillo
#DBF6E9 - celeste
#9DDFD3 - celeste oscuro
#31326F - azul
*/

*{
    margin: 0;
    padding: 0;
    
}

::-webkit-scrollbar{
    width: 7px;
    background-color: #DBF6E9;
}

::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #31326F;
    border-radius: 5px;
}

/*Header*/
header{
    display: flex;
    padding: 14px 14px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #78c7ca;
}

header #logo img{
    width: 60px;
    height: 60px;
    min-width: 30px;
    min-height: 30px;
}

header #logo{
    margin-left: 10px;
    justify-content: center;
}

header span{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    
    
}

header span i{
    margin-right: 8px;
    cursor: pointer;
    font-size: 25px;
    color: #31326F;
    
}
    
header span i:hover{
    opacity: 0.40;
    transition: 0.5s;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(198, 243, 221);
    background-color: rgb(219, 246, 233, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #31326F;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #73b9bb;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}








/*Header*/

/*Body*/



.line{
    height: 1.5px;
    background-color: #027373;
    margin-left: 25px;
    margin-right: 25px;
}

.line1{
    margin-top: 1vw;
    height: 2px;
    background-color: #027373;
}

body{
    background-color: #b7d0e4;
}


.menus a{
    text-decoration: none;
    color: #2f448e;
    margin: 20px;
    font-size: 25px;
}

.menus i{
    font-size: 24px;
}

.menus a span:first-child {
    display: inline-block;
}

.menus a{
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}
   
.menus a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

.menus a span {
    transition: transform 0.2s ease-out;
  }
   
  .menus a:hover span:first-child {
    transform: translateY(100%);
  }
   
  .menus a:hover span:last-child {
    transform: none;
}

.menus[data-animation="to-top"] a span:last-child {
    transform: translateY(100%);
}
   
.menus[data-animation="to-top"] a:hover span:first-child {
    transform: translateY(-100%);
}
   
.menus[data-animation="to-right"] a span:last-child {
    transform: translateX(-100%);
}
   
.menus[data-animation="to-right"] a:hover span:first-child {
    transform: translateX(100%);
}
   
.menus[data-animation="to-left"] a span:last-child {
    transform: translateX(100%);
}
   
.menus[data-animation="to-left"] a:hover span:first-child {
    transform: translateX(-100%);
}

.menus{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#slider{
    display: block;
    overflow: hidden;
    width: 100%;
}


#slider figure{
    position: relative;
    width: 1000%;
    margin: 0;
    left: 0;
    animation: 50s slider infinite;
}

.enun{
    position:absolute;
    z-index: 1;
    
}

.enun h1{
    font-family: 'DM Sans', sans-serif;
}

#slider figure img{
    opacity: 0.7;
    width: 10%;
    height: 42vw;
    float: left;
}

@keyframes slider{
   0% {left: 0;}
   5.2% {left: 0;}
   10.4% {left: -100%;}
   15.6% {left: -100%;}
   20.8% {left: -200%;}
   26% {left: -200%;}
   31.2% {left: -300%;}
   36.4% {left: -300%;}
   41.6% {left: -400%;}
   46.8% {left: -400%;}
   52% {left: -500%;}
   57.2% {left: -500%;}
   62.4% {left: -600%;}
   67.6% {left: -600%;}
   72.8% {left: -700%;}
   78% {left: -700%;}
   85% {left: -800%;}
   90% {left: -800%;}
   100% {left: -900%;}
}




.bloque{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.califica{
    background-color: #b7d0e4;
}

.califica h4{
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    padding-top: 2vw;
}


.card{
    height: auto;
    margin: 1vw;
    align-items: center;
    background: rgba( 49, 50, 111, 1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #DBF6E9;
}

.card i{
    margin-top: 1.5rem;
    color: #FFC93C;
    
}

.card h5{
    margin-top: 5px;
}

.card #check{
    font-size: 25px;
    margin-right: 5px;
    color: #0fda0f;
}


#imagen {
    width: 100%;
    height: 52vw;
    background-size: cover;
    background-image: url("https://exp.cdn-hotels.com/hotels/10000000/9240000/9234300/9234264/2bbe4867_z.jpg?impolicy=fcrop&w=1000&h=666&q=medium");
    
}
  
#info {
    position:absolute;
    overflow:hidden;
    width: 100%;
    height: 52vw;
    background-color: #a4b9cac9;
    opacity:0;
    transition: opacity 0.6s;
}
  
#imagen:hover #info{
    opacity:1;
}
  
#headline {
    font-family: 'Manrope', sans-serif;
    margin-left: 12vw;
    vertical-align: center;
    position: absolute;
    font-size: 5vw;
    transition: margin-left 0.2s;
    color: #070707;
}
  
#imagen:hover #headline {
    margin:17vw 0PX 0px 30vw;
}
  
#descripcion {
    font-family: 'Manrope', sans-serif;
    text-align: justify;
    position: absolute;
    font-size: 20px;
    text-align: center;
    transition: margin-top 0.2s;
    color: #070707;
}
  
#imagen:hover #descripcion {
    margin:24vw 10vw 0px 15vw;
}


/*-----------------------------*/

.long{
    display: flex;
    flex-direction: row;
}

#imagen1{
    width: 50%;
    height: 52vw;
    background-size: cover;
    background-image: url("https://exp.cdn-hotels.com/hotels/10000000/9240000/9234300/9234264/b0160e56_z.jpg?impolicy=fcrop&w=1000&h=666&q=medium");
    
}


  
#info1{
    position:absolute;
    overflow:hidden;
    width: 50%;
    height: 52vw;
    background-color: #a4b9cac9;
    opacity:0;
    transition: opacity 0.6s;
}
  
#imagen1:hover #info1{
    opacity:1;
}
  
#headline1{
    font-family: 'Manrope', sans-serif;
    margin-left: 12vw;
    vertical-align: center;
    position: absolute;
    font-size: 4vw;
    transition: margin-left 0.2s;
    color: #070707;
}
  
#imagen1:hover #headline1{
    margin:18vw 0PX 0px 5vw;
}
  
#imagen1:hover #headline2{
    margin:18vw 0PX 0px 11vw;
}

  
#descripcion1{
    font-family: 'Manrope', sans-serif;
    text-align: justify;
    position: absolute;
    font-size: 20px;
    text-align: center;
    transition: margin-top 0.2s;
    color: #070707;
}
  
#imagen1:hover #descripcion1{
    margin:24vw 10vw 0px 7vw;
}

/*-----------------------------*/

#imagen2{
    width: 50%;
    height: 52vw;
    background-size: cover;
    background-image: url("https://exp.cdn-hotels.com/hotels/10000000/9240000/9234300/9234264/361be7eb_z.jpg?impolicy=fcrop&w=1000&h=666&q=medium");
    
}

#info2{
    position:absolute;
    overflow:hidden;
    width: 50%;
    height: 52vw;
    background-color: #a4b9cac9;
    opacity:0;
    transition: opacity 0.6s;
}
  
#imagen2:hover #info2{
    opacity:1;
}
  
#headline2{
    font-family: 'Manrope', sans-serif;
    margin-left: 12vw;
    vertical-align: center;
    position: absolute;
    font-size: 4vw;
    transition: margin-left 0.2s;
    color: #070707;
}
  
#imagen2:hover #headline2{
    margin:18vw 0PX 0px 5vw;
}
  
#imagen2:hover #headline2{
    margin:18vw 0PX 0px 11vw;
}

  
#descripcion2{
    font-family: 'Manrope', sans-serif;
    text-align: justify;
    position: absolute;
    font-size: 20px;
    text-align: center;
    transition: margin-top 0.2s;
    color: #070707;
}
  
#imagen2:hover #descripcion2{
    margin:24vw 10vw 0px 7vw;
}


/*-----------------------------*/

 .wrapper {
    width: 100vw;
    margin: 0 auto;
    height: 400px;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
 }
 
 @media screen and (max-width: 767px) {
    .wrapper {
       height: 700px;
    }
 }
 
.content {
    max-width: 1024px;
    width: 100%;
    padding: 0 4%;
    padding-top: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
 

 
 .card {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 250px;
    background-color: #292929;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;   
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
 }
 
 .icon {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width:80px;
    background: linear-gradient(90deg, #FF7E7E 0%, #FF4848 40%, rgba(0, 0, 0, 0.28) 60%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
 }
 
 .material-icons.md-18 { font-size: 18px; }
 .material-icons.md-24 { font-size: 24px; }
 .material-icons.md-36 { font-size: 36px; }
 .material-icons.md-48 { font-size: 48px; }
 
 .card .title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
 }
 
 .card .text {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0;
    max-height:0;
    transition: all 0.3s ease;
 }
 
 .card:hover {
    height: 270px;
 }
 
 .card:hover .info {
    height: 90%;
 }
 
 .card:hover .text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height:80px;
 }
 
 .card:hover .icon {
    background-position: -120px;
    transition: all 0.3s ease;
 }
 
 .card:hover .icon i {
    background: linear-gradient(90deg, #FF7E7E, #FF4848);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    opacity: 1;
    transition: all 0.3s ease;
 }


/*-----------------------------*/
.card .tit{
    background: rgba( 219, 246, 233, 1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 50%;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1vw;
    color: #1B1A17;
}



.card .card-text{
    text-align: center;
}


.who{
    background-color: #b7d0e4;
}

.who .texto{
    margin-bottom: 2vw;
    padding-top: 2vw;
}


.who .texto .display-5{
    text-align: center;
    font-family: 'DM Sans', sans-serif;

}

.who .texto .h6{
    text-align: justify;
}

.fran{
    justify-content: flex-end;
    background-color: #b7d0e4;
    display: flex;
    flex-direction: row;
    
}

.fran-der{
    display: flex;
    flex-direction: column;
    
}

.fran img{
    width: 50%;
    opacity: 0.90;

}

.fran .img-fluid{
    justify-content: flex-start;
}

.fran .text-ban1{
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    
}

.fran .text-ban2{
    text-align: justify;
    font-family: 'DM Sans', sans-serif;

}

footer{
    background-color:   #94abbd;
    justify-content: space-between;
}

footer .fo i{
    color: #31326F;
    font-size: 24px;
    padding:10px;
}

footer .fo i:hover{
    opacity: 0.20;
    transition: 1s;
}

/*Body*/






/*HEADER MENU*/

@media screen and (max-width: 767px) {
    .content {
       padding-top: 300px;
       flex-direction: column;
    }
}


@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}

@media(max-width:2599px) and (min-width:1200px){
    .enun{
        margin: 18% 18% 0px 30%;

    }
    .enun h1{
        font-size: 35px;
        text-align: center;
    }

    .menus span{
        font-size: 20px;
    }

    #boton{
        visibility:hidden;
        display:none;
    }

    .card{
        width: 15rem;
    }

    .card i{
        font-size: 60px;
    }

    .card .tit{
        margin-bottom: 2vw;
    }


    .califica h4{
        font-size: 32px;
    }

    .bloque{ 
        gap: 1vw;
        padding-bottom: 1vw;
        margin-right: 2vw;
    }

    .bloque h5{
        font-size: 28px;
    }

    
    .who .texto .display-5{
        font-size: 42px;
    }

    .fran .text-ban1{
        font-size: 50px;
        
    }

    .fran-der{
        margin: 8vw 2vw 2vw 2vw;
    }

    .fran-der p{
        font-size: 19px;
        
    }


}

@media(max-width:1199px) and (min-width:901px){
    #boton{
        visibility:hidden;
        display:none;
    }

    .enun{
        margin: 18vw 32vw 32vw 32vw;

    }
    .enun h1{
        font-size: 30px;
        text-align: center;
    }

    .menus span{
        font-size: 25px;
    }

    .califica h4{
        font-size: 30px;

    }
    .bloque{
        gap:2vw;
    }
    
    .card{ 
        width: 20vw; 
    }

    .card .tit{
        margin-bottom: 2vw;
    }

    .card i{
        margin-top: 1rem;
        font-size: 45px;
    }

    .card h5{
        margin-top: 5px;
        font-size: 23px;
    }

    .card .tit h3{
        border-radius: 100%;
        font-size: 28px;
    }

    .card-body p{
        font-size: 22px;
    }

    .who .texto .display-5{
        font-size: 32px;
    }

    .fran-der{
        margin: 4vw 2vw 2vw 2vw;
    }

    .fran-der p{
        font-size: 19px;
        
    }


}




@media(max-width:900px) and (min-width:751px){
    .menus span{
        font-size: 18px;
    }
    
    #boton{
        visibility:hidden;
        display:none;
    }
    .enun{
        margin: 18vw 30vw 30vw 30vw;
    }
    .enun h1{
        font-size: 30px;
        text-align: center;
    }

    .who .texto .display-5{
        font-size: 25px;
    }

    .card i{
        font-size: 35px;
    }

    .card{
        width: 20vw;
        margin-bottom: 3vw;
    }

    .califica h4{
        font-size: 28px;
    }


    .card .tit{
        margin-bottom: 2vw;
    }

    .card h5{
        font-size: 25px;
    }

    .who .texto .display-5{
        font-size: 32px;
    }

    .fran-der{
        margin: 4vw 2vw 2vw 2vw;
    }

    .fran-der h1{
        font-size: 35px;
    }

    .fran-der p{
        font-size: 16px;
        
    }

}

@media(max-width:750px) and (min-width:551px){
    .menus{
        visibility:hidden;
        display:none;
    }
    
    #slider{
        margin-top: 3vw;
    }

    .enun{
        margin: 16vw 22vw 16vw 22vw;

    }
    .enun h1{
        font-size: 20px;
        text-align: center;

    }

    .fran{
        flex-direction: column;
    }

    .card i{
        font-size: 40px;
    }

    .card{
        width: 20vw;
    }

    .card h5{
        font-size: 18px;
    }

    .card .tit {
        margin-bottom: 2vw;
    }

    .fran img{
        width: 100%;
    }
    .who .texto .display-5{
        font-size: 25px;
    }
    .card .card-title h5{
        font-size: 10px;
        font-family: 'Manrope', sans-serif;

    }
    .fran .fran-der{
        order:2;
    }

    .fran .img-fluid1{
        align-content: flex-start;
        order:1;
    }

    .fran-der{
        margin: 5% 5vw 5vw 5vw;
    }
}


@media(max-width:550px) and (min-width:379px){
    .menus{
        visibility:hidden;
        display:none;
    }

    #slider{
        margin-top: 3vw;
    }

    .fran{
        flex-direction: column;
    }

    .fran img{
        width: 100%;
    }

    .enun{
        margin: 16vw 22vw 16vw 22vw;

    }
    .enun h1{
        font-size: 18px;
        text-align: center;

    }

    .bloque{
        margin: 10px;
        gap:3vw;
    }

    .califica h4{
        padding-top: 4vw;
    }

    

    .card{ 
        width: 31vw; 
        height: auto;
        margin: 3vw;
    }

    .card i{
        margin-top: 1rem;
        font-size: 30px;
    }

    .card-title h5{
        font-size: 10px;
        margin-top: 10px;
    }

    .card .tit {
        margin-bottom: 4vw;
    }

    .card .tit h3{
        border-radius: 100%;
        font-size: 28px;
    }


    #des{
        font-size: 13px;
    }

    .who .texto .display-5{
        font-size: 28px;
        padding-top: 1vw;
        margin-bottom: 2vw;
    }
    
    .fran .fran-der{
        order:2;
    }

    .fran .img-fluid1{
        align-content: flex-start;
        order:1;
    }

    .fran .text-ban1{
        font-size: 35px;
        
    }

    .fran-der{
        margin: 3vw 3vw 3vw 3vw;
    }

    .fran-der p{
        font-size: 18px;
        
    }

}

@media(max-width:378px) and (min-width:200px){
    header #logo img{
        width: 40px;
        height: 40px;
    }

    .menus{
        visibility:hidden;
        display:none;
    }

    .califica h4{
        font-size: 17px;
        padding-top: 4vw;
    }

    #slider{
        margin-top: 5vw;
    }

    .fran{
        flex-direction: column;
    }

    .fran img{
        width: 100%;
    }
    .enun{
        margin: 15vw 15vw 20vw 20vw;

    }
    .enun h1{
        font-size: 15px;
        text-align: center;

    }

    header span i{
        font-size: 20px;

    }

    
    .bloque{
        gap: 5px;
        margin: 5px;
    }

    .card{
        margin:2vw; 
        width: 32vw; 
    }


    .card i{
        margin-top: 1rem;
        font-size: 25px;
    }

    .card h5{
        margin-top: 5px;
        font-size: 14px;
    }

    .card .tit {
        margin-bottom: 4vw;
    }

    .card .tit h3{
        border-radius: 100%;
        font-size: 21px;
    }

    .card-body p{
        font-size: 12px;
    }

    #des{
        font-size: 11px;
    }

    .who .texto .display-5{
        font-size: 20px;
    }

    .fran .text-ban1{
        font-size: 28px;
        
    }

    .fran-der{
        margin: 3vw 3vw 3vw 3vw;
        order:2;
    }

    .fran-der p{
        font-size: 14px;
        
    }

    .fran .img-fluid1{
        align-content: flex-start;
        order:1;
    }

}
