/*Fuentes que se pueden usar
font-family: 'DM Sans', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Rubik', sans-serif;

Colores
#FFC93C - Amarillo
#DBF6E9 - celeste
#9DDFD3 - celeste oscuro
#31326F - azul
*/



*{
    margin: 0;
    padding: 0;
    
}

::-webkit-scrollbar{
    width: 7px;
    background-color: #DBF6E9;
}

::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #31326F;
    border-radius: 5px;
}

/*Header*/
header{
    display: flex;
    padding: 14px 14px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #78c7ca;
}

header #logo img{
    width: 60px;
    height: 60px;
    min-width: 30px;
    min-height: 30px;
}

header #logo{
    margin-left: 10px;
    justify-content: center;
}

header span{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    
    
}

header span i{
    margin-right: 8px;
    cursor: pointer;
    font-size: 25px;
    color: #31326F;
    
}
    
header span i:hover{
    opacity: 0.40;
    transition: 0.5s;
}


.line{
    height: 1.5px;
    background-color: #027373;
    margin-left: 25px;
    margin-right: 25px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(198, 243, 221);
    background-color: rgb(219, 246, 233, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #31326F;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #73b9bb;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}



.menus a{
    text-decoration: none;
    color: #2f448e;
    margin: 20px;
    font-size: 25px;
}

.menus i{
    font-size: 24px;
}

.menus a span:first-child {
    display: inline-block;
}

.menus a{
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}
   
.menus a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

.menus a span {
    transition: transform 0.2s ease-out;
  }
   
  .menus a:hover span:first-child {
    transform: translateY(100%);
  }
   
  .menus a:hover span:last-child {
    transform: none;
}

.menus[data-animation="to-top"] a span:last-child {
    transform: translateY(100%);
}
   
.menus[data-animation="to-top"] a:hover span:first-child {
    transform: translateY(-100%);
}
   
.menus[data-animation="to-right"] a span:last-child {
    transform: translateX(-100%);
}
   
.menus[data-animation="to-right"] a:hover span:first-child {
    transform: translateX(100%);
}
   
.menus[data-animation="to-left"] a span:last-child {
    transform: translateX(100%);
}
   
.menus[data-animation="to-left"] a:hover span:first-child {
    transform: translateX(-100%);
}

.menus{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #a2c1d8;
}

/*FIN HEADER*/

/*BODY*/



body{
    background-color: #a2c1d8;
}


.info h1{
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}


.info{
    height: auto;
    background-color: #c5ddd1;
}



.pros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pros i{
    color: #050620;
    margin-right: 5px;
}

.pros h3{
    margin-left: 14px;
    font-family: 'Manrope', sans-serif;
}

.metros{
    display: flex;
    flex-direction: row;
    margin:10px 0px 0px 1vw;
}

.metros h5{
    font-family: 'Karla', sans-serif;
}

.descrip{
    display: flex;
    flex-direction: column;
    margin:10px 0px 0px 1vw;
}

.descrip .descript{
    display: flex;
    flex-direction: row;

}

.descrip .descript h5{
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    margin: 5px;
}


.bañi{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



.bañi .cosa{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:8px 0px 0px 1vw;
}

.bañi .cosa h5{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    margin: 10px;
    
}

.bañi i{
    font-size: 15px;
    margin-right: 5px;
}

button{
    margin:10px;
    font-size: 10px;
    width: auto;
}









/*BODY*/


footer{
    background-color:   #94abbd;
    justify-content: space-between;
}

footer .fo i{
    color: #31326F;
    font-size: 20px;
    padding:10px;
}

footer .fo i:hover{
    opacity: 0.20;
    transition: 1s;
}








/*RESPONSIVE*/

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}

@media(max-width:2599px) and (min-width:1200px){
    .enun{
        margin: 18% 18% 0px 30%;

    }
    .enun h1{
        font-size: 35px;
        text-align: center;
    }

    .menus span{
        font-size: 20px;
    }

    #boton{
        visibility:hidden;
        display:none;
    }

    /*-----------------cuerpo---------------*/

    .centro{
        display: flex;
        flex-direction: row;
    }

    #carouselExampleIndicators{
        width: 60%;
        height: 42.4vw;
    }

    #carouselExampleIndicators img{
        /*width: 901px;
        height: 676px;*/
        width: 25%;
        height: 42.4vw;
    }

    .info{
        width: 46%;
    }


    .info h1{
        font-size: 30px;
        margin-top: 10px;
    }

    .info h3{
        font-size: 16px;
        margin-top: 5px;
        gap: 12px;
    }

    .pros i{
        font-size: 15px;
        color: #050620;
        margin-right: 5px;
    }

    .metros .tama{
        font-size: 20px;
    }

    .metros h5{
        margin-top: 2px;
        margin-left: 5px;
        font-size: 20px;
    }

    .metros .ele{
        font-size: 15px;
        margin-left: 3px;
    }

    .descrip .descript .tamal{
       font-size: 19px;
    }

    .bañi .cosa .columna1 h5{
        font-size: 16px;
    }

    .bañi .cosa .columna2 h5{
        font-size: 16px;
    }

    .bañi .titu{
        font-size: 20px;
        margin:8px 0px 0px 1vw;
    }

}

@media(max-width:1199px) and (min-width:901px){
    #boton{
        visibility:hidden;
        display:none;
    }
    .enun h1{
        font-size: 30px;
        text-align: center;
    }

    #carouselExampleIndicators img{
        width: 20%;
        height: 676px;
    }

    .info h1{
        padding-top: 2vw;
        font-size: 40px;
    }

    .pros i{
        font-size: 16px;
        margin-right: 5px;
    }

    .pros h3{
        font-size: 20px;
    }

    .metros h5{
        padding-top: 2px;
        padding-left: 5px;
    }

    .metros .tama{
        font-size: 20px;
    }

    .metros .ele{
        font-size: 16px;
        margin-bottom: 15px;
    }

    .descrip .descript h5{
        font-size: 19px;
    }

    .bañi .titu{
        font-size: 20px;
        margin:15px 0px 0px 1vw;
    }

    .bañi .cosa .columna1 h5{
        font-size: 17px;
    }

    .bañi .cosa .columna2 h5{
        font-size: 17px;
    }

    .descrip .descript .tamal{
        font-size: 19px;
    }

    .descrip .descript h5{
        font-size: 16px;
    }



}




@media(max-width:900px) and (min-width:751px){
    .menus span{
        font-size: 18px;
    }
    

    header #logo img{
        width: 40px;
        height: 40px;
    }

    .menus{
        visibility:hidden;
        display:none;
    }

    .info h1{
        padding-top: 2vw;
        font-size: 30px;
    }

    .pros i{
        font-size: 14px;
        margin-right: 5px;
    }

    .pros h3{
        font-size: 18px;
    }

    .metros h5{
        padding-top: 2px;
        padding-left: 5px;
    }

    .metros .tama{
        font-size: 20px;
    }

    .metros .ele{
        font-size: 16px;
        margin-bottom: 15px;
    }

    .descrip .descript h5{
        font-size: 19px;
    }

    .bañi .titu{
        font-size: 20px;
        margin:15px 0px 0px 1vw;
    }

    .bañi .cosa .columna1 h5{
        font-size: 17px;
    }

    .bañi .cosa .columna2 h5{
        font-size: 17px;
    }

    .descrip .descript .tamal{
        font-size: 19px;
    }

    .descrip .descript h5{
        font-size: 16px;
    }
    

}

@media(max-width:750px) and (min-width:551px){
    .menus{
        visibility:hidden;
        display:none;
    }
    
    #slider{
        margin-top: 3vw;
    }

    .menus{
        visibility:hidden;
        display:none;
    }

    header #logo img{
        width: 40px;
        height: 40px;
    }

    .menus{
        visibility:hidden;
        display:none;
    }

    header span i{
        font-size: 20px;

    }

    .info h1{
        padding-top: 2vw;
        font-size: 29px;
    }

    .pros i{
        font-size: 12px;
        margin-right: 5px;
    }

    .pros h3{
        font-size: 16px;
    }

    .metros h5{
        padding-top: 2px;
        padding-left: 5px;
    }

    .metros .tama{
        font-size: 20px;
    }

    .metros .ele{
        font-size: 16px;
        margin-bottom: 15px;
    }

    .descrip .descript h5{
        font-size: 19px;
    }

    .bañi .titu{
        font-size: 20px;
        margin:15px 0px 0px 1vw;
    }

    .bañi .cosa .columna1 h5{
        font-size: 17px;
    }

    .bañi .cosa .columna2 h5{
        font-size: 17px;
    }

    .descrip .descript .tamal{
        font-size: 19px;
    }

    .descrip .descript h5{
        font-size: 16px;
    }
}


@media(max-width:550px) and (min-width:379px){
    .menus{
        visibility:hidden;
        display:none;
    }

    header #logo img{
        width: 40px;
        height: 40px;
    }

    .menus{
        visibility:hidden;
        display:none;
    }

    header span i{
        font-size: 20px;

    }


    .info h1{
        padding-top: 2vw;
        font-size: 25px;
    }

    .pros i{
        font-size: 14px;
        margin-right: 5px;
    }

    .pros h3{
        font-size: 15px;
    }

    .metros h5{
        font-size: 19px;
        padding-top: 2px;
        padding-left: 5px;
    }

    .metros .tama{
        font-size: 18px;
        margin-left: 2vw;
    }

    .metros .ele{
        font-size: 14px;
        margin-bottom: 15px;
    }

    .descrip .descript h5{
        font-size: 19px;
    }

    .bañi .titu{
        font-size: 18px;
        margin:15px 0px 0px 3vw;
    }

    .bañi .cosa .columna1 h5{
        font-size: 15px;
        margin-left: 4vw;
    }

    .bañi .cosa .columna2 h5{
        font-size: 15px;
        margin-left: 4vw;
    }

    .descrip .descript .tamal{
        font-size: 18px;
        margin-left: 1vw;
    }

    .descrip .descript h5{
        font-size: 16px;
    }


}

@media(max-width:378px) and (min-width:200px){
    header #logo img{
        width: 40px;
        height: 40px;
    }

    .menus{
        visibility:hidden;
        display:none;
    }

    header span i{
        font-size: 20px;
    }

    .info h1{
        padding-top: 2vw;
        font-size: 24px;
    }

    .pros i{
        font-size: 14px;
        margin-right: 5px;
    }

    .pros h3{
        font-size: 14px;
    }

    .metros h5{
        font-size: 16px;
        padding-top: 2px;
        padding-left: 5px;
    }

    .metros .tama{
        font-size: 16px;
        margin-left: 2vw;
    }

    .metros .ele{
        font-size: 14px;
        margin-bottom: 15px;
    }

    .descrip .descript h5{
        font-size: 10px;
    }

    .bañi .titu{
        font-size: 17px;
        margin:15px 0px 0px 3vw;
    }

    .bañi .cosa .columna1 h5{
        font-size: 14px;
        margin-left: 4vw;
    }

    .bañi .cosa .columna2 h5{
        font-size: 14px;
        margin-left: 4vw;
    }

    .descrip .descript .tamal{
        font-size: 14px;
        margin-left: 2vw;
    }

    .descrip .descript h5{
        font-size: 13px;
    }


}
